// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  min-height: 20em;
  background-color: $NARfooter;
  padding: 2em;
}

.footer-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 .5em 0 .5em;
}

.footer-left h3 {
  color: $light-gray;
  text-transform: uppercase;
  font-size: .8em;
  margin: 0em;
}

.footer-left img {
  width: 9em;
}

.footer-center { //NAR main logo
  display: flex;
  align-items: center;
}

.footer-center img {
  width: 15em;
}

.footer-right {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer-right h5 {
  margin: 0em;
  font-family: 'helvetica-neue', sans-serif;
  font-size: .8em;
  color: $light-gray;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 4em;
}

.footer-right h4 {
  margin: 0em;
  font-family: $museo-stack;
  font-size: 1.2em;
}

.footer-right h4:nth-child(2) {
  color: $yellow;
}

.footer-right h4:nth-child(3) > a {
  color: $NARlogoblue;
}
