// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  min-height: 12em;
  background-color: #111;
  padding: 0 .2em 0 .2em;
  border-top: 5px solid $yellow;
}

.footer-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 .5em 0 .5em;
}

.footer-left h3 {
  color: $light-gray;
  font-family: $text-font-stack;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .6em;
  margin: 0 0 1em 0;
}

.footer-left img {
  width: 5em;
}

.footer-left a:first-of-type > img {
  width: 8em;
  margin-bottom: 1em;
}

.footer-center { //NAR main logo
  display: flex;
  align-items: center;
  padding: 2em 0 2em 0;
}

.footer-center img {
  width: 10em;
}

.footer-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: $text-font-stack;
  color: white;
}

.footer-right h5 {
  margin: 0 0 1em 0;
  font-family: $text-font-stack;
  font-size: .7em;
  color: $light-gray;
  text-transform: uppercase;
  text-align: center;
}

.footer-right h4 {
  margin: 0em;
  font-family: $text-font-stack;
  font-size: .6em;
  font-weight: 200;
}

.footer-right h4:nth-child(3) > a {
  color: white;
}

.address p {
  margin: 0;
  font-size: .6em;
  font-weight: 200;
  text-align: right;
}

.legal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 4em;
  background-color: #282828;
  color: #b6b6b6;
  font-size: .9em;
  padding: .8em 0 .8em 0;
}

.pxleng {
  display: inline-flex;
  flex-flow: row nowrap;
  color: #7a7a7a;
}

.pxleng a {
  color: #8b8b8b;
  transition: all .4s ease-in;
}

.pxleng a:hover {
  text-decoration: underline solid yellow;
}

.pxleng img {
  height: 1.5em;
  padding: 0 .5em 0 .5em;
}

@media screen and
(max-width: 550px) {
  .mbl-hidden {
    display: none !important;
  }
}

@media screen and
(min-width: 551px) {
  .legal {
    font-size: 9px;
  }
}
