// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5em;
}

.brand {
  height: 5em;
  line-height: 5em;
}

.brand img {
  height: 4.5em;
  margin-left: .5em;
  vertical-align: middle;
}

.home-menu {
  min-width: 14em;
  color: white;
  text-decoration: none;
}

.home-menu > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-left: 0;
}

.home-menu ul>li {
  list-style: none;
  text-transform: uppercase;
  font-family: $museo-stack;
  font-size: .8em;
  font-weight: bold;
}

.home-menu a {
  color: white;
  padding-bottom: .3em;
  transition: all .2s ease-in-out;
  border-bottom: 8px hidden $NARlogoblue;
}

.home-menu a:active {
  color: $yellow;
}

.active  a {
  border-bottom: .4em solid $yellow;
}

.home-menu a:hover {
  text-decoration: none;
  border-bottom: .4em solid $NARlogoblue;
}

.home-jumbotron {
  display: block;
  width: 100vw;
  min-height: calc(100vw/2.1);
  padding-top: 4em;
  background-image: url("../assets/home-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  margin-top: -5em;
}

.headline {
  display: block;
  width: 70%;
  float: right;
  font-size: .7em;
  margin-right: 5em;
  text-align: right;
}

.headline h1 {
  margin: 0;
  padding-top: 1em;
  font-family: "museo-slab", serif;
  color: white;
  text-transform: uppercase;
}

/// MOBILE SCREEN
@media screen
and (max-width: 550px) {
  body {
    font-size: 12px;
  }

  .home-menu ul>li {
    font-size: .9em;

  }
  //
  // .active {
  //   border-bottom: .3em solid $yellow;
  // }

  .home-jumbotron {
    background-image: none;
    min-height: 10em;
  }

  .headline {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-right: 0em;
    padding-bottom: 3em;
  }
}



@media screen
and (max-width: 700px) {
  body {
    font-size: 16px;
  }
}
