// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.section {
  width: 100%;
}

///home-1 section
.home-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 24em;
  background-color: $light-gray;
}

.home-1 > .col-2:first-child img  {
  width: 16em;
  margin: 2.0em;
}

.home-1 > .col-txt {
  display: block;
  font-family: $text-font-stack;
  font-size: 1.5em;
  line-height: 1.2em;
  text-align: left;
  max-width: 20em;
  padding-left: 1em;
  padding-right: 1em;
}

///home-2 section
.home-2 {
  display: flex;
  width: 100%;
  min-height: 30em;
  padding: 3em 1em 0em 1em;
  background-color: $NARlogored;
  font-family: $text-font-stack;
  flex-flow: row wrap;
  justify-content: space-around;
}

.col-3 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  color: white;
  width: 15em;
  padding-bottom: 2.5em;
}

.col-3 h2 {
  margin: 0 0;
  font-family: "museo-slab", sans-serif;
  font-size: 2.0em;
  text-transform: uppercase;
}

.home-2 > .col-3 > p {
  font-size: .8em;
}

.home-2 > .col-3 img {
  // width: 16.5em;
}

/// home 3 section
.home-3 {
  display: flex;
  width: 100%;
  min-height: 14em;
  background-color: white;
  padding: 0.5em;
  padding-top: 1.5em;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.home-3 > .col-2 p {
  display: inline-block;
  font-size: .7em;
  text-align: right;
  margin-top: 3em;
}

.home-3 > .col-2:first-child {
  padding-right: 0em;
}

.home-3 > .col-2 > h3 {
  font-family: $museo-stack;
  font-size: 1.6em;
  color: $NARdkgray;
  margin: 0em;
  line-height: 1em;
  text-transform: uppercase;
}

.home-3 > .col-2 > h5 {
  font-family: $museo-stack;
  font-size: .8em;
  color: $mid-gray;
  margin: 0em;
  line-height: .8em;
  text-transform: uppercase;
}

.nsc-logo {
  display: inline-block;
  margin-top: .5em;
  vertical-align: top;
}

.nsc-logo a:first-child > img {
  width: 5em;
}

.nsc-logo a:nth-child(2) > img { //safety logos
  width: 9em;
  vertical-align: top;
  padding-top: .6em;
  padding-left: .4em;
}

.home-3 > .col-2:nth-child(2) img { //click it sticker
  width: 100%;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

/// home 4 section (full width)
.home-4 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0em 2em 2em 2em;
  background-color: white;
}

.home-4 > .col-1 {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.home-4 > .col-1:nth-child(3) h3 > span {
  display: inline-block;
}

.home-4 > .col-1:nth-child(2) h4 {
  margin: 0em;
  font-family: $museo-stack;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  color: $dark-gray;
  -webkit-text-fill-color: $mid-gray;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.home-4 > .col-1:nth-child(2) h3 {
  margin: 0em;
  font-family: $museo-stack;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: $dark-gray;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.home-4 > .col-1:nth-child(2) h3 > span:nth-child(2) {
  color: black;
  -webkit-text-fill-color: $NARdkgray;
}

.home-4 > .col-1:nth-child(2) h3 > span:nth-child(3) {
  color: red;
  -webkit-text-fill-color: $NARlogored;
}


//media queries
@media screen
and (max-width: 550px) {
  .home-2 > .col-3 {
    width: 100%;
  }


  .home-4 > .col-1 > p {
    font-size: 1.1em;
  }
}

@media screen
and (max-width: 999px) {
  .home-1 > .col-txt {
    text-align: center;
  }
}
