//styles for team page

.team-title {
  background-image: url("../assets/team_title2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.title-content > .col-2 {
  margin-right: 2em;
}

.title-content > .col-2 > img {
  height: 15em;
}

.title-content > .col-2:nth-child(2) {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  max-width: 25em;
}

.title-content > .col-2:nth-child(2) > p {
  font-family: 'acumin-pro', sans-serif;
  font-size: .8em;
  color: #c5c5c5;
}

.members {
  display: flex;
  width: 100%;
  min-height: 20em;
  background-color: gray;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 1em 0 3em 0;
  font-family: $text-font-stack;
}

.members h2 {
  font-size: 2em;
  font-weight: 200;
  font-family: $museo-stack;
  text-transform: uppercase;
  margin-left: .7em;
  margin-bottom: 0em;
}

.teamcard {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: $NARdkgray;
  min-height: 10em;
  margin: 1em;
  padding: .4em 1em .5em 1em;
  border-radius: 1em;
}

.contactbtn {
  position: absolute;
  width: 6em;
  min-height: 1em;
  background-color: orange;
  color: black;
  border-radius: .2em;
  padding: .4em;
  text-align: center;
  top: 1.0em;
  right: 1.2em;
}

.pic {
  flex-grow: 1;
  background-color: $NARdkgray;
}

.pic img {
  margin: 1em 1em .7em .7em;
  border: 2px solid #d1d1d1;
  border-radius: .5em;
}

.profile {
  display: block;
  flex: 13;
}

.profile h3 {
  font-size: 1.6em;
  color: #dadada;
  font-family: $museo-stack;
  font-weight: 200;
  text-transform: capitalize;
  margin-top: .5em;
  margin-bottom: -2px;
}

.profile h5 {
  font-size: .8em;
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
  margin: 0 0 .5em 0;
  color: #b4b4b4;
  text-transform: uppercase
}

.profile p {
  margin-top: .4em;
  font-size: .7em;
  color: #9a9a9a;
}

//Contact section
.contact {
  display: block;
  width: 100%;
  background-color: #343434;
  color: #c9c9c9;
  font-family: $text-font-stack;
  text-align: center;
  padding: 3em 1em;
}

.contact p {
  display: inline-block;
  width: 60vw;
  margin: 0;
}

.contact h4 {
  font-size: 1.4em;
  margin: .7em 0;
}


@media screen and
  (max-width: 550px) {
  .mbl-hidden {
    display: none;
  }
  .title-sect {
    // margin: .3em 0 .3em 0;
  }

  .title-content > .col-2 {
    margin: .3em 0 .3em 0;
  }

  .title-content > .col-2:nth-child(2) {
    max-width: 26em;
    font-size: 1em;
    color: #c5c5c5;
  }

  .title-content > .col-2:nth-child(2) > p {
    font-family: $text-font-stack;
    font-size: 1.3em;
    color: #c5c5c5;
  }

  .profile p {
    font-size: 1.2em;
  }

  .contact p {
    width: 90vw;
    font-size: 1.3em;
  }


}
