// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Rockwell font family
$museo-stack: 'museo-slab', sans-serif;




/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(254, 205, 6) !default;

/// Light gray
/// @type Color
$light-gray: rgb(221, 221, 221) !default; ///#ddd

/// Medium gray
/// @type Color
$mid-gray: rgb(139, 139, 139) !default;

/// Dark gray
/// @type Color
$dark-gray: rgb(29, 29, 29) !default;


/// NAR brand/site colors
$NARdkgray: rgb(29, 29, 29); ///#1d1d1d
$NARlogoblue: rgb(2, 84, 152); ///#025498
$NARlogored: rgb(180, 32, 37); ///#b42025
$NARfooter: rgb(52, 52, 52); ///#343434
$yellow: rgb(254, 205, 6);


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
